<div style="padding : 0px 31px;">
	
	<div class="panel panel-default" style="text-align:center;margin-top:-130px;">
		  
	  <div class="panel-heading" style="border-bottom:0px;">
	    <h3 style="text-align:center;">Create Challenge</h3>
	  </div>

		<div class="panel-body">
			<form accept-charset="UTF-8" action="/challengr/post_video" data-remote="true" enctype="multipart/form-data" id="video_form" method="post" target="myiframe">

				<div style="display:none">
					<input name="utf8" type="hidden" value="✓">
				</div>

				<div class="fileUpload btn btn-default">
				  <span>Record Video</span>
				  <input id="video_file" name="video[file]" type="file" accept="video/*;capture=camcorder" style="width:250px;">
				</div>
				<br />
				<canvas id="mycanvas" width="320" height="240"></canvas>
				<video style="display:block;margin: 0 auto;" id = "video_view" width="320" height="240" controls>
				</video>

				<br />
			  
			  <input name="commit" type="submit" value="Save Video" id="attatchVidButton" style="display:none;">
			</form>
				  
			<form novalidate>
			  <div class = "row">
			  	<div class = "col-sm-3">
			  	  <b>Name:</b>
			  	</div>
			  	<div class = "col-sm-9">
			  		<input type="text" class="form-control" ng-model="newchallenge.name" />
			  	</div>
			  </div>
			  <br />
			    <input type="submit" class = "btn btn-primary" ng-click="createChallenge(newchallenge)" value="Create" />
			</form>
		</div>
	</div>
</div>

<style>
	.fileUpload {
		position: relative;
		overflow: hidden;
		margin: 10px;
	}
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
</style>
<iframe name="myiframe" id="video_frame" style="display:none;"></iframe>

<script>
	
	$(function(){
		

		$('#video_file').change(function() {
		  $("#video_form").submit();
		});

    $('#video_frame').load(function(){
			window.video_url = $('#video_frame').contents().find("body").html();
			alert("Loading video");
			var video  = document.getElementById('video_view');
			var source = document.createElement('source');
			var canvas = document.getElementById('mycanvas');

			source.setAttribute('src', window.video_url);
			video.appendChild(source);
			
			video.addEventListener("playing", function(){
				 video.addEventListener("canplaythrough",function() { 
				 	video.addEventListener("progress",function() { 
				 			video.currentTime = video.duration / 2;
				 			var ctx = canvas.getContext('2d');
				 			ctx.drawImage(video,0,0,320,240);
				 			window.thumbnail = canvas.toDataURL("image/jpg");
				 		});
				 });
			});

			setTimeout(function() {
				// alert ("Attempting to draw thumbnail");
				// video.currentTime = video.duration / 2;
				// var ctx = canvas.getContext('2d');
				// ctx.drawImage(video,0,0,320,240);
				// window.thumbnail = canvas.toDataURL("image/jpg");
				video.play();
				video.currentTime = video.duration / 2;
				video.pause();
				var ctx = canvas.getContext('2d');
				ctx.drawImage(video,0,0,320,240);
				window.thumbnail = canvas.toDataURL("image/jpg");
     }, 3000);




			// video.addEventListener('canplay', function() {
			// 		alert("playing");
			//     this.currentTime = this.duration / 2;
			// }, false);
			
			// video.addEventListener("durationchange", function() {
			// 		alert("playing");
			//     this.currentTime = this.duration / 2;
			// }, false);

			// video.addEventListener('seeked', function() {
			// 	alert("seeking and drawing");
			// 	var ctx = canvas.getContext('2d');
			// 	ctx.drawImage(video,0,0,320,240);
			// 	window.thumbnail = canvas.toDataURL("image/jpg");
			// }, false);





    });
	});

</script>