<h2>Submit your Response!</h2>

<form accept-charset="UTF-8" action="/challengr/post_video" data-remote="true" enctype="multipart/form-data" id="video_form" method="post" target="myiframe">
    <div style="display:none">
        <input name="utf8" type="hidden" value="✓">
    </div>
    Capture Video:
  <input id="video_file" name="video[file]" type="file" accept="video/*;capture=camcorder">
  <input name="commit" type="submit" value="Save Video">

  <input type="submit" ng-click="createResponse(newresponse)" value="Create" />
</form>

<iframe name="myiframe" id="video_frame" style="display:none;"></iframe>

<script>
    
    $(function(){
    $('#video_frame').load(function(){
            window.video_url = $('#video_frame').contents().find("body").html();
    });
    });

</script>