<h2>Public Challenges</h2>

<!-- hide if no challenges - TODO: have placeholder otherwise -->
<ul id="pb-challenges" ng-show="publicc.length">
    <li ng-repeat="challenge in publicc">
        <a ng-href="#/challenge/{{challenge.$id}}/respond">{{challenge.name}}</a>
        <img src="{{challenge.thumbUrl}}" alt="">
        <ul>
            <li>{{challenge.startDate}}</li>
            <li>Upvotes: {{challenge.upvotes}}</li>
        </ul>
        <button ng-click="upvote(challenge.$id)">Upvote</button>
    </li>
</ul>

<!-- todo: create -->
