<h2 style="margin: -180px auto 0px auto;text-align:center;padding:20px 0px;color:#ffffff;text-shadow: 0px -1px 1px #666;">Public Challenges</h2>

<!-- hide if no challenges - TODO: have placeholder otherwise -->

<div id="pb-challenges" ng-show="publicc.length" style="text-align:center;padding: 0px 20px;">

		<div ng-repeat="challenge in publicc" class="panel panel-default">
		  <div class="panel-heading" style="border-bottom:0px;">
        <h2 class="panel-title"><a ng-href="#/challenge/{{challenge.$id}}">{{challenge.name}}</a></h2>
		  </div>
		  <div class="panel-body">
	        <!-- <img src="{{challenge.thumbUrl}}" alt=""> -->
	        <div class = "video_cover">
		        <video class = "card_video" width="220" onclick="this.play();" height="120">
		        	 <source src="{{challenge.videoUrl}}" />
						</video>
					</div>
	          <p>{{challenge.startDate}}</p>
	          <p>Upvotes: {{challenge.upvotes}}</p>
	        <button ng-click="upvote(challenge.$id)" class = "btn btn-success">Upvote</button>
			  </div>
		</div>

</div>

<style>
	.video_cover {
		padding:2px;
		background-size: contain;
		background-position: center;
		border: 1px solid #d1d1d1;
		border-radius: 8px;
		width: 220px;
		margin: 0 auto;
		background-repeat: no-repeat;
	}
</style>
<!-- todo: create -->
