
<div style="padding: 0px 20px; margin-top:-110px;">
	<!-- surely there's a way to do relative urls, but whatever -->
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{challenge.name}}</h3>
	  </div>
	  <div class="panel-body" style="margin: 0 auto; text-align:center;">
  		<div class = "video_cover">
        <video ng-src="{{challenge.videoUrl}}" id = "video_challenge" class = "card_video" width	="220" onclick="this.play();" height="120">
 				</video>
			</div>
			<br />
	    <a ng-href="#/challenge/{{challenge.$id}}/respond" class="btn btn-primary">Respond to this challenge!</a>

        <p></p>

	    <p><span>{{getTimeRemaining(challenge.startDate,currentTime)}} hours remaining</span> </p>
    	
    	<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_complete(challenge.startDate,currentTime)}}" aria-valuemin="0" aria-valuemax="1" style="width: {{percent_complete(challenge.startDate,currentTime)*100}}%;">
			    <span class="sr-only">{{percent_complete(challenge.startDate,currentTime)*100}}% Complete</span>
			  </div>
			</div>

	    <p>Upvotes: <span class="badge">{{challenge.upvotes}}</span></p>

	   <button ng-click="share()" class = "btn btn-success" style="float:right;">Share</button>
	  </div>
	</div>

	<h3>Responses</h3>
	<div class="panel panel-default" style = "text-align:center;" ng-repeat="response in responses | reverse ">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{response.submittedBy}}</h3>
	  </div>
	  <div class="panel-body">
	  	<div class = "video_cover">
        <video class = "card_video" width="220" onclick="this.play();" height="120">
        	 <source src="{{response.videoUrl}}" />
				</video>
			</div>
	    <p> Start Time : <span>{{response.startDate}}</span> </p>
    
        <p>Upvotes: <span class="badge">{{response.upvotes}}</span></p>
        <button ng-click="upvote(response.$id)" class = "btn btn-success">Upvote</button>

        <!-- <p class="upvote-count">{{response.upvotes}}</p>
        <button ng-click="upvote(response.$id)" class = "btn btn-success glyphicon glyphicon-arrow-up upvote"></button> -->
	  </div>
	</div>

</div>