/* app css stylesheet */

body {
  margin: 10px;
}




.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.inline-menu ul {
  margin: 0;
  padding: 0;
}
.inline-menu li {
  float: left;
  list-style: none;
}
.circle-image{
  width: 50px;
  border-radius: 50%;
  height: 50px;
  background-size: cover;
  position: absolute;
  margin-top: -60px;
  margin-left: -25px;
  left: 50%;
  border: 1px solid #d1d1d1;
  background-color: #938780;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.video_cover {
  padding:2px;
  background-size: contain;
  background-position: center;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  width: 220px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
