<form accept-charset="UTF-8" action="/challengr/post_video" data-remote="true" enctype="multipart/form-data" id="video_form" method="post" target="myiframe">
	<div style="display:none">
		<input name="utf8" type="hidden" value="✓">
	</div>
	Capture Video:
  <input id="video_file" name="video[file]" type="file" accept="video/*;capture=camcorder">
  <input name="commit" type="submit" value="Save Video">
</form>

<iframe name="myiframe"></iframe>
